.container {
    background-color: transparent;
    border-radius: 16px;
    padding: 24px;
    max-width: 420px;
    width: 100%;
    margin: 0 auto;
    font-family: var(--font-family-text);
}

.header {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--color-neutral-900);
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
}

.iconBuy {
    color: var(--color-mint);
}

.iconSell {
    color: var(--color-burn);
}

.input {
    width: 100%;
    padding: 14px 16px;
    font-size: 1rem;
    font-family: var(--font-family-number);
    border-radius: 12px;
    border: 1px solid var(--color-neutral-600);
    background-color: var(--color-neutral-100);
    color: var(--color-neutral-800);
    margin-bottom: .5rem;
    outline: none;
    transition: border 0.2s ease, box-shadow 0.2s ease;
}

.input:focus {
    border-color: var(--color-accent-light);
    box-shadow: 0 0 0 2px var(--color-accent-light);
}

.actions {
    display: flex;
    justify-content: space-between;
    gap: 12px;
}

.confirmButton {
    flex: 1;
    padding: 12px;
    font-size: 1rem;
    font-weight: 600;
    font-family: var(--font-family-text);
    color: var(--color-neutral-100);
    background-color: var(--color-accent);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.confirmButton:hover {
    background-color: var(--color-accent-light);
}

.confirmButton:disabled {
    background-color: var(--color-neutral-300);
    cursor: not-allowed;
}

.cancelButton {
    flex: 1;
    padding: 12px;
    font-size: 1rem;
    font-family: var(--font-family-text);
    background-color: var(--color-neutral-400);
    color: var(--color-neutral-900);
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}